---
Language: Cpp
BasedOnStyle: LLVM

# Appearance
IndentWidth: 4
ColumnLimit: 100
UseTab: Never

# Braces and Spacing
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterControlStatement: Never
  BeforeElse: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false

# Cleanliness
IncludeBlocks: Regroup
SortIncludes: true
...
